.grid-color {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    gap: 20px;
    
}

.grid_customization_title {
    color: #0080EE;
    margin-top: 5px;
    border-bottom: 1px solid #78C0FF;
}

.grid-lines-color {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 30px;
}

.grid-lines-color-label {
    align-self: center;
    width: 78px;
    color: #0080EE;
}

.grid-bg-color {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 30px;
}

.grid-bg-color-label {
    align-self: center;
    width: 78px;
    color: #0080EE;
}

.apply-button {
    border: 1px solid #51FF3A;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #B9FFB0;
    color: #1CED00;
    margin-bottom: 10px;
}

.color-button,
.eraser-button {
    border: 1px solid #78C0FF;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #B2DBFF;
    color: #0080EE;
    margin-bottom: 10px;
}


.reset-button {
    border: 1px solid #E68787;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ECA5A5;
    color: #D32E2E;
    margin-bottom: 10px;
}

.reset-button:hover {
    background-color: #E68787;
}

.apply-button:hover{
    background-color: #85FF75;
    color: #FFFFFf;
}

.color-button:hover,
.eraser-button:hover {
    background-color: #8BC9FF;
}


.grid_customization {
    height: 350px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
    background-color: #D8EDFF;
    border: 1px solid #78C0FF;
    margin-left: 90px;
   
}

.grid_settings {
    height: 300px;
    width: 300px;
    background-color: #EFF3F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    background-color: #D8EDFF;
    border: 1px solid #78C0FF;
    margin-left: 90px;
    gap: 15px;
}

.custom-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 623px;
    
}

#grid-size,
.slidecontainer p {
    color: #0080EE;
}

/* https://stackoverflow.com/questions/41884538/how-to-change-html5-color-input-inner-radius */

#lines {
    -webkit-appearance: none;
    padding: 0;
    border-radius: 10px;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #D8EDFF;
    cursor: pointer;
    
}

#lines::-webkit-color-swatch {
    border: 1px solid #78C0FF;
    border-radius: 50%;
    padding: 0;
}

#lines::-webkit-color-swatch-wrapper {
    border: 1px solid #78C0FF;
    border-radius: 50%;
    padding: 0;
}

#bgColor {
    -webkit-appearance: none;
    padding: 0;
    border-radius: 10px;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #D8EDFF;
    cursor: pointer;
    
}

#bgColor::-webkit-color-swatch {
    border: 1px solid #78C0FF;
    border-radius: 50%;
    padding: 0;
}

#bgColor::-webkit-color-swatch-wrapper {
    border: 1px solid #78C0FF;
    border-radius: 50%;
    padding: 0;
}

