.footer {
    height: 70px;
    background-color: #d8edff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #8bc9ff;
  }
  
  footer {
    margin-top: auto;
  }
  
  .copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .copyright a {
    width: 24px;
    height: 20px;
    align-self: center;
  }
  
  .copyright p {
    color: #0080ee;
    font-size: 20px;
  }
  
  /* https://codepen.io/giana/pen/BZaGyP */
  .copyright a:hover,
  .copyright a:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  