/*
background-color: #2a2b2dff;
background-color: #2da8d8ff;
background-color: #d9514eff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:  20px;
    background-color: #ECF6FF;
}

.box {
    border: 1px solid #eee;
    background-color: #fff;
    border-width: 0.1em;      
}

.mainGrid {
    border: 1px solid #000;
    background-color: #FFF;
    
}

.outer-box {
    width: 150px;
    height: 100px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    margin-top: px;
}






.gridContainer {
    display: grid;
    grid-template-columns: repeat( var(--repeatNumber, 2), 300px);
    grid-template-rows: repeat( var(--repeatNumber, 2), 200px);
}

  .main-container {
    border: 3px solid #78C0FF;
    width: 703px;
    height: 623px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    gap: 30px;
    
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

header .title {
    font-weight: 900;
    font-size: 3.5em;
    color: #0080EE;
}

.footer {
    height: 70px;
    background-color: #D8EDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #8BC9FF;   
}

footer {
    margin-top: auto;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyright a {
    width: 24px;
    height: 20px;
    align-self: center;

}

.copyright p {
    color: #0080EE;
    font-size: 20px;
}


/* https://codepen.io/giana/pen/BZaGyP */
.copyright a:hover,
.copyright a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

