* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:  20px;
}

.box {
    border: 1px solid #000;
    background-color: #eee;
    border-width: 0.1em;      
}

.mainGrid {
    border: 1px solid #000;
    background-color: #eee;
    
}

.outer-box {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.grid_customization {
    height: 300px;
    width: 300px;
    background-color: #EFF3F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.grid_settings {
    height: 300px;
    width: 300px;
    background-color: #EFF3F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.custom-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}



.gridContainer {
    display: grid;
    grid-template-columns: repeat( var(--repeatNumber, 2), 300px);
    grid-template-rows: repeat( var(--repeatNumber, 2), 200px);
}

  .main-container {
      border: 1px solid red;
      width: 700px;
      height: 600px;
  }

  .changeB {
    background-color: red;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    gap: 30px;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

header .title {
    font-weight: 900;
    font-size: 3.5em;
    color: #eee;
}

.footer {
    height: 100px;
    background-color: #E0A96D;
    display: flex;
    justify-content: center;
    align-items: center;   
}


